#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #333357;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

legend {
    font-size: large;
    font-weight: bold;
    color: #1b6c65;
    text-align: center;
}

form input {
    margin: 5px;
}

textarea {
    margin: 5px;
}

button {
    margin-top: 5px;
    color: #1b6c65;
}

/**/
#cv {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-info {
    border-bottom: 1px dashed black;
    border-radius: 20px;
    padding: 15px;
}